services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: tmdb
      POSTGRES_USER: tmdb
      POSTGRES_PASSWORD: tmdb
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U tmdb -d tmdb" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: tmdb_quarkus
    env_file:
      - .env
    environment:
      QUARKUS_DATASOURCE_DB_KIND: postgresql
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/tmdb
      QUARKUS_DATASOURCE_USERNAME: tmdb
      QUARKUS_DATASOURCE_PASSWORD: tmdb
      QUARKUS_FLYWAY_MIGRATE_AT_START: "true"
      QUARKUS_FLYWAY_BASELINE_ON_MIGRATE: "true"
      TMDB_API_TOKEN: "${TMDB_API_TOKEN}"
    depends_on:
      postgres:
        condition: service_healthy
      # minio:
      #   condition: service_started
    ports:
      - "8080:8080"

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://tmdb:tmdb@postgres:5432/tmdb?sslmode=disable"
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "9187:9187"

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      backend:
        condition: service_started
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana-oss:latest
    depends_on:
      prometheus:
        condition: service_started
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  pgdata:
  grafana-data:
