global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'quarkus-backend'
    metrics_path: /q/metrics
    static_configs:
      - targets:
          - backend:8080
  - job_name: 'postgres-exporter'
    static_configs:
      - targets:
          - postgres_exporter:9187